__pycache__/
*.pyc
.env
venv/
env/

# Игнорируем только временные файлы пользователей и сгенерированные отчеты,
# чтобы код (.py) и файлы-шаблоны загрузились на GitHub!
Oborotka/temp_*.xlsx
ActSverka/temp_*.xlsx
ActSverka/temp_*.csv
FinHelp/temp_*.xlsx
MaterialReport/temp_*.xlsx
*Акт_Сверка*.xlsx
*ФинПомощь*.xlsx
*Материальный_отчет*.xlsx
*Сводка*.xlsx